DISCORD_TOKEN=
PORT=3000
WEB_USER=admin
WEB_PASSWORD=CHANGE_ME
DISCORD_CONTROL_ROLE=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://SERVER-IP:3000/api/spotify/callback
YTDLP_PATH=/usr/local/bin/yt-dlp
